<% if line_item == @current_item %>
  <tr class="line-item-highlight">
<% else %>
  <tr>
<% end %>
<tr>
  <td class="text-right"><%= line_item.quantity %></td>
  <td>&times;</td>
  <td class="pr-2">
    <%= line_item.product.title %>
    <%= button_to 'delete', line_item, method: :delete,
    class: 'ml-4 rounded-lg py-1 px-2 text-black bg-green-100' %>  
  </td>
  <td class="text-right font-bold">
    <%#= sprintf("$%0.02f", line_item.total_price) %>
    <%= number_to_currency(line_item.total_price)%>
  </td>
</tr>
